<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{path('CalculatorBundle_homepage')}}">{{'page.dashboard'|trans([], 'pcbCalcCalculatorBundle')}}</a>
      {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_USER')) %}
      <ul class="nav" role="navigation">
        <li><a href="{{path('CalculatorBundle_getcalc')}}">{{'page.create_quote'|trans([], 'pcbCalcCalculatorBundle')}}</a></li>
        <li><a href="{{path('CalculatorBundle_getmyquotes')}}">{{'page.my_quotes'|trans([], 'pcbCalcCalculatorBundle')}}</a></li>
        <li><a href="{{path('CalculatorBundle_getmyquotecomments')}}">{{'page.my_comments'|trans([], 'pcbCalcCalculatorBundle')}}</a></li>
      </ul>
      {% endif %}
      <ul class="nav pull-right">
        {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_SUPER_ADMIN')) %}
        <li class="dropdown">
          <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">{{'page.management'|trans([], 'pcbCalcCalculatorBundle')}}<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('UserBundle_getusers')}}">{{'page.users'|trans([], 'pcbCalcCalculatorBundle')}}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('CalculatorBundle_getquotes')}}">{{'page.quotes'|trans([], 'pcbCalcCalculatorBundle')}}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('CalculatorBundle_getquotescomments')}}">{{'page.quotes_comments'|trans([], 'pcbCalcCalculatorBundle')}}</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('CalculatorBundle_settings')}}">{{'page.settings'|trans([], 'pcbCalcCalculatorBundle')}}</a></li>
          </ul>
        </li>
        {% endif %}
        <li id="fat-menu" class="dropdown">
          <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">{{'page.hello'|trans([], 'pcbCalcCalculatorBundle')}}, {% if app.user.fullname is empty %}{{app.user.username}}{% else %}{{app.user.fullname}}{% endif %}! <b class="icon-cog icon-white"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('fos_user_profile_show')}}">{{'page.profile'|trans([], 'pcbCalcCalculatorBundle')}}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('fos_user_change_password')}}">{{'page.change_password'|trans([], 'pcbCalcCalculatorBundle')}}</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('fos_user_security_logout')}}">{{'page.logout'|trans([], 'pcbCalcCalculatorBundle')}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>